.page-blog{

    .hero{
        background: url(../assets/images/background-blog.jpg) center center;
        .container{
            .text{
                max-width: 429px;
                margin-bottom: 100px;
            }
        }

        @media (max-width: 1200px){
            .container{
                .text{
                    max-width: 100%;
                    margin-bottom: 0;
                }
            }
        }
    }

    .search{
        margin: -140px 0 0;

        .container{
            height: 100px;
            padding: 0 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            border-radius: 10px;
            background: rgba(255, 255, 255, 0.10);
            backdrop-filter: blur(25px);

            ul{
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                li{
                    a{
                        color: $white;
                        font-family: Inter;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 400;

                        &:hover{
                            color: $orange;
                        }
                    }
                }
            }

            form{
                display: flex;
                flex-direction: row;
                align-items: center;
                height: 40px;
                display: flex;
                flex-direction: row;
                border-left: 1px solid #D2D2D2;
                margin-left: 40px;
                padding-left: 40px;

                input{
                    width: 120px;
                    color: $white;
                    background: transparent;
                }
                input::placeholder{
                    font-family: 'Inter';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    color: $white;
                }
                button{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.20);
                }
            }
        }

        @media (max-width: 1200px){
            display: none;
        }
    }

    .mostSeen{
        margin-top: 100px;
        
        .container{
            padding-bottom: 32px;
            border-bottom: 1px solid #DBDBDB;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @media (max-width: 1250px){
            display: none;
        }
    }

    .latest{
        margin-top: 60px;
        .container{
            .top{
                margin-bottom: 30px;
                .line{
                    margin-bottom: 15px;
                }
            }
            .bottom{
                display: grid;
                justify-items: center;
                grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
                gap: 32px;
            }
        }
        @media (max-width: 820px){
            .container{
                .top{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }
        }
    }

}