.page-contact{
    .hero{
        height: 800px;
        padding-top: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        .container{
            display: flex;
            align-items: center;
            justify-content: center;
            .content-form{
                width: 800px;
                height: 587px;
                padding: 60px;
                border-radius: 20px;
                border: 1px solid #8B8B8B;
                background: rgba(255, 255, 255, 0.10);
                backdrop-filter: blur(10px);
                .text{
                   padding: 0;
                    img{
                        margin-bottom: 15px;
                    }
                    h3{
                        color: $white;
                        margin-bottom: 5px;
                    }
                    p{
                        color: #A3A3A3;
                        margin-bottom: 28px;
                    }
                }
                form{
                    label{
                        margin-bottom: 10px;
                        color: $orange;
                        font-family: Ballega;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 135%;
                    }
                    .inputs{
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
                        .name, .email, .company, .phone{
                            display: flex;
                            flex-direction: column;

                            input{
                                width: 324px;
                                height: 45px;
                                border-radius: 6px;
                                padding: 0 20px;
                                font-family: Inter;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 160%;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 810px){
            height: auto;
            .container{
                padding: 100px 20px;
                .content-form{
                    
                    height: auto;
                    .text{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;
                    }
                    form{
                        .inputs{
                            grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
                            .name, .email, .company, .phone{
                                display: flex;
                                flex-direction: column;
    
                                input{
                                    width: 100%;
                                    height: 45px;
                                    border-radius: 6px;
                                    padding: 0 20px;
                                    font-family: Inter;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 160%;
                                    margin-bottom: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}